* {
  font-family: "Source sans 3", sans-serif;}
.thrive {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 2000px;
  margin-left: 150px;
}

.thrive-highlight {
  color: #c41e3a;
}
.mission-item p {
  font-size: 22px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
  align-items: center;
}
.vision-item p {
  font-size: 22px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 20px;
  text-align: justify;
  align-items: center;
}
.highlight-card {
  background-color: #c41e3a;
  color: white;
  width: 400px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  font-weight: lighter;
  font-size: 22px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.highlights {
  max-width: 2000px;
  margin-left: 200px;
}

